<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="chat-one">
    <lable>Chat 1-1</lable>
    <input type="text" placeholder="Nhập id client" id="id_client_1_1">
    <input type="text" placeholder="Nhập nội dung" id="noi_dung_1_1">
    <input type="button" value="Gửi" id="gui_1_1">
</div>
<div id="chat-group">
    <lable>Chat group</lable>
    <input type="text" placeholder="Nhập id client" id="id_group">
    <input type="text" placeholder="Nhập nội dung" id="noi_dung_group">
    <input type="button" value="Gửi" id="gui_group">
</div>
<script src="/javascripts/build.js"></script>
</body>
</html>